body {
    margin: 0;
    height: 100vh; /* ocupa a tela toda */
    display: flex;
    flex-direction: column; /* organiza de cima pra baixo */
    justify-content: center; /* alinha no centro vertical */
    align-items: center;     /* alinha no centro horizontal */
    font-family: Arial, sans-serif;
    background-color: #b69090;
}

#num {
    background-color: rgb(121, 84, 84);
    color:rgb(0, 0, 0)
}

#botao {
    background-color: rgb(121, 84, 84);
}